<div class="card widget-tasks">
    <div class="card-header block mb-4 px-2">
        <div class="grid ml-1 mb-5 mt-2">
            <span class="block font-bold">Inbox</span>
        </div>
    </div>
    <div class="grid">
        <p-panel class="col">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
        </p-panel>
    </div>

    <div class="grid">
        <p-panel class="col">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
        </p-panel>
    </div>

    <div class="grid">
        <p-panel class="col">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
        </p-panel>
    </div>

    <div class="grid">
        <p-panel class="col">
            <ng-template pTemplate="header">
                Header content here
            </ng-template>
            Body Content
        </p-panel>
    </div>
    
</div>