<p-card>
    <ng-template pTemplate="header">
        <div class="grid p-3 line-graph-opt">
            <div class="col-1">
                <i class="pi" [ngClass]="config.icon" [ngStyle]="{'color': config.color}" style="font-size: 2.5rem"></i>
            </div>
            <div class="col-10">
                <div class="grid">
                    <div class="col-12 pb-0" [ngStyle]="{'color': config.color}" style="font-size: 1.2rem">
                        {{ config.label }}
                    </div>
                    <div class="col-12 pt-0" [ngStyle]="{'color': config.color}" style="font-size: 1.2rem">
                        {{ config.value }}
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
    <p-chart type="line" [data]="config.graphData" [options]="basicOptions"></p-chart>
</p-card>