<p-accordion [multiple]="true">
    <p-accordionTab header="Personal Info" [selected]="true">
        <div class="grid">
            <!-- <div class="col">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText> 
                    <label for="float-input">First Name</label>
                </span>
            </div> -->
        </div>
        <div class="grid">
            <div class="col-6">
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">First Name</label>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Last Name</label>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Preferred Name</label>
                    </span>
                </div>
            </div>
            <div class="col-6">
                <div class="field">
                    <span class="p-float-label">
                        <input id="float-input" type="text" pInputText> 
                        <label for="float-input">Formal Name</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col">
                Gender
                <!-- <p-radioButton name="groupname" value="val1"></p-radioButton>
                <p-radioButton name="groupname" value="val1"></p-radioButton> -->
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Contact Info" [selected]="true">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Address" [selected]="true">
        Content 3    
    </p-accordionTab>
    <p-accordionTab header="Important Dates" [selected]="true">
        Content 3    
    </p-accordionTab>
    <p-accordionTab header="Notes" [selected]="true">
        Content 3    
    </p-accordionTab>
</p-accordion>