<div class="card widget-tasks">
    <div class="card-header block mb-4 px-2">
        <div class="grid ml-1 mb-5 mt-2">
            <span class="block font-bold">My Tasks</span>
        </div>
        <div class="grid ml-1 mb-3">
            <span class="block font-bold text-2xl mb-4">Contact David Brown</span>
        </div>
        <div class="grid ml-1 mb-2">
            <span class="badge block w-min font-bold mb-4 px-2 py-1 border-1 border-solid">Interaction</span>
            <span class="badge block w-min font-bold mb-4 px-2 py-1 border-1 border-solid">Phone</span>
        </div>
        <div class="grid ml-1 mb-2">
            <span class="clock"><i class="pi pi-clock mr-1"></i>Jan 15 <span
                class="font-bold">4 days 36 mins</span></span>
        </div>
    </div>
    <div class="grid ml-1">
        <p class="px-2 mb-8">Sit amet nulla facilisi morbi tempus iaculis. Dolor magna eget est lorem ipsum
            dolor sit. Turpis egestas pretium aenean pharetra magna ac placerat vestibulum lectus. </p>
    </div>
    <div class="card-footer flex flex-wrap align-items-center justify-content-between pt-3">
        <div class="grid ml-1">
            <div class="footer-left flex align-items-center">
                <button pButton type="button" icon="pi pi-angle-left"
                        class="p-button-outlined p-button-rounded p-button-plain p-button-sm font-bold mr-2 p-2 w-2rem h-2rem"></button>
                <button pButton type="button" icon="pi pi-angle-right"
                        class="p-button-outlined p-button-rounded p-button-plain p-button-sm font-bold mr-3 p-2 w-2rem h-2rem"></button>
                <span class="font-bold">4</span><span>/ 6</span>
            </div>
        </div>
    </div>
</div>