<div>
    <!-- <div class="grid surface-section px-4 py-5 md:px-6 lg:px-8 mb-5">
        <div class="flex flex-column md:align-items-center md:justify-content-between md:flex-row">
            <div class="font-medium text-3xl text-900">
                Welcome Drew
            </div>
        </div>
    </div> -->

    <div class="grid justify-content-center">
        <div *ngFor="let config of graphCards" class="card-container col">
            <app-graph-card
                [config]="config"></app-graph-card>
        </div>
    </div>

    <div class="grid">
        <div class="col-6">
            <app-history></app-history>
        </div>

        <div class="col-6">
            <app-upcoming-task></app-upcoming-task>
        </div>
    </div>

    <div class="grid">
        <div class="col">
            <app-inbox></app-inbox>
        </div>
    </div>
    
</div>