<div>
    <div class="surface-section px-4 py-5 md:px-6 lg:px-8 mb-5">
        <div class="flex flex-column md:align-items-center md:justify-content-between md:flex-row">
            <div class="font-medium text-3xl text-900">
                Groups
            </div>
            <div class="mt-3 md:mt-0">
                <button pbutton="" pripple="" label="Add" icon="pi pi-user-plus" class="p-element p-ripple p-button-outlined mr-2 p-button p-component"><span class="p-button-icon p-button-icon-left pi pi-user-plus" aria-hidden="true"></span><span class="p-button-label">Add</span><span class="p-ink"></span></button>
            </div>
        </div>
    </div>
    
    <div class="grid">
        <div class="col-12 md:col-6 xl:col-3 p-3">
            <div class="surface-card shadow-2 border-rounded p-4">
                <div class="flex flex-column align-items-center mb-3">
                    <span class="font-medium text-900 text-xl mb-3">
                        General Church Group
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3 p-3">
            <div class="surface-card shadow-2 border-rounded p-4">
                <div class="flex flex-column align-items-center mb-3">
                    <span class="font-medium text-900 text-xl mb-3">
                        Mens Group
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3 p-3">
            <div class="surface-card shadow-2 border-rounded p-4">
                <div class="flex flex-column align-items-center mb-3">
                    <span class="font-medium text-900 text-xl mb-3">
                        Ladies Group
                    </span>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 xl:col-3 p-3">
            <div class="surface-card shadow-2 border-rounded p-4">
                <div class="flex flex-column align-items-center mb-3">
                    <span class="font-medium text-900 text-xl mb-3">
                        Sunday School Group
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>