<div class="card widget-timeline">
    <div class="card-header font-bold mb-4">History</div>
    <div class="flex mb-2 p-3 pb-0">
        <div class="flex flex-column align-items-center">
            <span
                class="flex align-items-center justify-content-center border-circle p-2 timeline-icon timeline-icon-3">
                <i class="pi pi-exclamation-circle"></i>
            </span>
            <div class="h-full timeline-line-1" style="width: 2px; min-height: 4rem"></div>
        </div>

        <div class="ml-3 w-full">
            <div class="flex align-items-center justify-content-between timeline-event-header mb-3 mt-2">
                <span class="font-bold">Sister so and so has contacted Jimmy the visitor</span>
                <span class="font-bold subtext">10m</span>
            </div>

            <div class="p-3"
                [style]="{'background-color':'rgba(227, 248, 255, 0.5)', 'border-radius': '6px'}">
                <span class="font-bold">Comments</span>
                <p class="subtext text-sm line-height-3 mb-3" style="max-width: 28rem">
                    They mentioned they are excited about our church. They plan to come back Sunday.
                </p>
            </div>
        </div>
    </div>

    <div class="flex mb-2 p-3 pb-0">
        <div class="flex flex-column align-items-center">
            <span
                class="flex align-items-center justify-content-center border-circle p-2 timeline-icon timeline-icon-2">
                <i class="pi pi-exclamation-circle"></i>
            </span>
            <div class="h-full timeline-line-1" style="width: 2px; min-height: 4rem"></div>
        </div>

        <div class="ml-3 w-full">
            <div class="flex align-items-center justify-content-between timeline-event-header mb-3 mt-2">
                <span class="font-bold">Bro so and so hasn't been to church for a while</span>
                <span class="font-bold subtext">10m</span>
            </div>

            <div class="p-3"
                [style]="{'background-color':'rgba(227, 248, 255, 0.5)', 'border-radius': '6px'}">
                <span class="font-bold">Comments</span>
                <p class="subtext text-sm line-height-3 mb-3" style="max-width: 28rem">
                    They haven't been seen in 5 weeks.
                </p>
            </div>
        </div>
    </div>

    <div class="timeline-footer flex align-items-center justify-content-center cursor-pointer mt-5">
        <i class="pi pi-chevron-down p-1"></i>
        <span class="font-bold ml-2">See More</span>
    </div>
</div>